@model Application.ViewModel.SaveRegionViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Save region";
}

<h1>Save region</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(editMode ? $"Editando la region: {Model.Name}" : "Agregando una nueva region")</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Region" asp-action="@(editMode ? "Edit" : "Create")">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-secondary" asp-action="Index" asp-controller="Region">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>